<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/new.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/alertify.core.css" rel="stylesheet" />
    <link href="~/Content/barIndicator.css" rel="stylesheet" />
    <link href="~/Content/blog.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/charts-graphs.css" rel="stylesheet" />
    <link href="~/Content/datepicker.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/new.css" rel="stylesheet" />
    <link href="~/Content/pricing.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/theme.css" rel="stylesheet" />
    <link href="~/Content/timepicker.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.9/media/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/overwrite.css" rel="stylesheet" />
</head>
<body>
    <!-- Top Nav Start -->
    <div id='cssmenu'>
    
        <ul>
            <li class='active'>
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Dashboards</a>
            </li>
            
            
            @if (User.IsInRole("Admin"))
            {
                <li class="hidden-sm">
                    <a href="@(Url.Action("SelectUser", "Home"))">
                        <i class="fa fa-font"></i>
                        Edit Roles
                    </a>
                </li>
            }
            <li class="hidden-sm">
                <a href="@(Url.Action("Create", "Tickets"))">
                    <i class="fa fa-font"></i>
                    Create Ticket
                </a>
            </li>
            <li class="hidden-sm">
                <a href="@(Url.Action("Index", "Tickets"))">
                    <i class="fa fa-font"></i>
                    All Tickets
                </a>
            </li>
            
        </ul>
    </div>
    <!-- Top Nav End -->
    <!-- Sub Nav End -->
    @*<div class="sub-nav hidden-sm hidden-xs">
        
        <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="Search here ...">
            <i class="fa fa-search"></i>
        </div>
    </div>*@

    <div class="sub-nav">
        @Html.Partial("_LoginPartial")
    </div>
        
    <!-- Sub Nav End -->
    <div class="container body-content">
        <div class="dashboard-wrapper">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.scrollUp.js"></script>
    <script src="~/Scripts/menu.js"></script>
    <script src="~/Scripts/sparkline.js"></script>
    <script src="~/Scripts/jquery-barIndicator.js"></script>
    <script src="~/Scripts/custom-barIndicator.js"></script>
    <script src="~/Scripts/DataTables-1.10.9/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.9/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
