@model IEnumerable<BugTracker.Models.Tickets>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="ticketTable">
    <thead>
        <tr>
            <th>
                Priority
            </th>
            <th>
                Project
            </th>
            <th>
                Status
            </th>
            <th>
                Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <div class="wrapper ticket-description">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedTo.DisplayName)
                </td>
                <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#ticketTable').DataTable();
        })
    </script>
<script>
        $(document).ready(function () {
            $(".wrapper").dotdotdot({
                /*	The text to add as ellipsis. */
                ellipsis: '... ',

                /*	How to cut off the text/html: 'word'/'letter'/'children' */
                wrap: 'word',

                /*	Wrap-option fallback to 'letter' for long words */
                fallbackToLetter: true,


                /*	Optionally set a max-height, if null, the height will be measured. */
                height: 20

            });
        });
</script>
    }