@model BugTracker.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<!-- Main Container start -->
<div class="dashboard-container">
    <div class="container">
        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper">
            <!-- Row Start -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget sales-overview">
                        <div class="widget-header">
                            <div class="title">
                                Overview
                            </div>
                        </div>
                        <div class="widget-body no-padding">
                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tickets" aria-controls="tickets" role="tab" data-toggle="tab">
                                        <div class="overview-tab clearfix">
                                            <div class="tab-icon">
                                                <i class="fa fa-laptop"></i>
                                            </div>
                                            <div class="tab-details">
                                                <p>My Tickets</p>
                                                <h4>@Model.Tickets.Count()</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                @if (!User.IsInRole("Submitter"))
                                {
                                    <li role="presentation">
                                        <a href="#incomeOnline" aria-controls="incomeOnline" role="tab" data-toggle="tab">
                                            <div class="overview-tab clearfix">
                                                <div class="tab-icon">
                                                    <i class="fa fa-suitcase"></i>
                                                </div>
                                                <div class="tab-details">
                                                    <p>Projects</p>
                                                    <h4>@Model.Projects.Count()</h4>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                }
                                @if (User.IsInRole("Developer") || User.IsInRole("Project Manager"))
                                {

                                    <li role="presentation">
                                        <a href="#returnOnline" aria-controls="returnOnline" role="tab" data-toggle="tab">
                                            <div class="overview-tab clearfix">
                                                <div class="tab-icon">
                                                    <i class="fa fa-database"></i>
                                                </div>
                                                <div class="tab-details">
                                                    <p>Project Tickets</p>
                                                    <h4>@Model.DevProjectTickets.Count()</h4>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                }
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="tickets">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <table class="indexTable">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Title
                                                        </th>
                                                        <th>
                                                            Ticket Status
                                                        </th>
                                                        <th>
                                                            Ticket Priority
                                                        </th>
                                                        <th>
                                                            Project
                                                        </th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Tickets)
                                                    {

                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Title)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Status.Name)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Priority.Name)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Project.Name)
                                                            </td>

                                                            @if (!User.IsInRole("Submitter"))
                                                            {
                                                                <td>
                                                                    @Html.ActionLink("Edit", "Edit", "Tickets", new { id = item.ID }, new { }) |
                                                                    @Html.ActionLink("Details", "Details", "Tickets", new { id = item.ID }, new { }) |
                                                                    @Html.ActionLink("Delete", "Delete", "Tickets", new { id = item.ID }, new { })
                                                                </td>
                                                            } else {
                                                                <td>
                                                                    @Html.ActionLink("Details", "Details", "Tickets", new { id = item.ID }, new { })
                                                                </td>
                                                            }
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="incomeOnline">
                                    <div class="row">
                                        <div class="col-xs-12 create-project">
                                            @Html.ActionLink("Create New", "Create", "Project", new { @class = "btn btn-primary" })
                                        </div>
                                        <div class="col-xs-12">
                                            <table class="indexTable">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Project Name
                                                        </th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.Projects != null)
                                                    {
                                                        foreach (var item in Model.Projects)
                                                        {

                                                            <tr>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Name)
                                                                </td>
                                                                @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                                                {
                                                                    <td>
                                                                        @Html.ActionLink("Edit", "Edit", "Projects", new { id = item.ID }, new { }) |
                                                                        @Html.ActionLink("Details", "Details", "Projects", new { id = item.ID }, new { }) |
                                                                        @Html.ActionLink("Delete", "Delete", "Projects", new { id = item.ID }, new { })
                                                                    </td>
                                                                } else
                                                                {
                                                                    <td></td>
                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                @if (User.IsInRole("Developer"))
                                {
                                    <div role="tabpanel" class="tab-pane" id="returnOnline">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <table class="indexTable">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Title
                                                            </th>
                                                            <th>
                                                                Ticket Status
                                                            </th>
                                                            <th>
                                                                Ticket Priority
                                                            </th>
                                                            <th>
                                                                Project
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.DevProjectTickets != null)
                                                        {
                                                            foreach (var item in Model.DevProjectTickets)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Title)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Status.Name)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Priority.Name)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Project.Name)
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row End -->
            <!-- Row Start -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title">
                                Notifications
                            </div>
                        </div>
                        <div class="widget-body">

                            <!-- Row starts -->
                            <table class="indexTable">
                                <thead>
                                    <tr>
                                        <th>
                                            Ticket Title
                                        </th>
                                        <th>
                                            Changed Property
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Notifications != null)
                                    {
                                        foreach (var item in Model.Notifications)
                                        {

                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Ticket.Title)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Property)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Acknowledge", "Acknowledge", new { id = item.ID }, new { @class = "btn-primary" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                            <!-- Row ends -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Dashboard Wrapper End -->
    </div>
</div>
<!-- Main Container end -->

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('.indexTable').DataTable();
        })
    </script>
}