@model BugTracker.Models.ProjectsDetailsModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />

        <div class="row">
            <div class="col-xs-6">
                <h2>Open Tickets</h2>
                <table class="indexTable">
                    <thead>
                        <tr>
                            <th>
                                Title
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.OpenTickets != null)
                        {
                            foreach (var ticket in Model.OpenTickets)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => ticket.Title)
                                    </td>
                                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                    {
                                        <td>

                                            @Html.ActionLink("Details", "Details", "Projects", new { id = ticket.ID }, new { })
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h2>Project Developers</h2>
                <table class="indexTable">
                    <thead>
                        <tr>
                            <th>
                                Display Name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.OpenTickets != null)
                        {
                            foreach (var member in Model.ThisProject.ProjectMembers)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => member.DisplayName)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ThisProject.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('.indexTable').DataTable();
        })
    </script>
}