@using BugTracker.Models
@model LoginViewModel
@{
    ViewBag.Title = "NewLogin";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Bug Tracker</title>
    <meta charset="UTF-8" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/new.css" rel="stylesheet" />
    <!-- Important. For Theming change primary-color variable in main.css  -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    @*<script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-40304444-1', 'iamsrinu.com');
          ga('send', 'pageview');

        </script>*@
</head>
<body>
    <!-- Main Container start -->
    <div class="dashboard-container">
        <div class="container">
            <!-- Row Start -->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-md-offset-4">
                    <div class="sign-in-container">
                        @*<form action="@Html.ActionLink("Login", "Account")" class="login-wrapper" method="post">*@
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal login-wrapper", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="header">
                                @*<div class="row">
                                    <div class="col-md-12">
                                        <h2>Bug Tracker</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-4">
                                        <img src="~/Content/bug_tracking.png" />
                                    </div>
                                </div>*@
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Login</h3>
                                        <p>Fill out the form below to login.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="actions">
                                <input class="btn btn-danger" name="Login" type="submit" value="Login">
                                <p>
                                    @Html.ActionLink("Register as a new user", "Register")
                                </p>
                                @* Enable this once you have account confirmation enabled for password reset functionality
                                    <p>
                                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                    </p>*@
                                <div class="clearfix"></div>
                            </div>
                        @*</form>*@
                        }
                    </div>
                </div>
            </div>
            <!-- Row End -->

        </div>
    </div>
    <!-- Main Container end -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
